html, body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
  overflow: none;
}
 body{
   box-sizing: border-box;
   font-family: Montserrat, sans-serif;
   padding: 0;
   margin: 0;
   background: #111;
 }

 .main-container{
   display: flex;
   flex-direction: column;
   height: 100%;

   .header{
     background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.75)), url("https://source.unsplash.com/featured/?cooking");
     background-size: cover;
     background-position: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: 100px 0 calc(50px + 75px);//add the border radius
     padding: 100px 0 -webkit-calc(50px + 75px);//add the border radius

     h1{
       color: white;
       text-shadow: 0 0 10px rgba(0,0,0,.8);
       text-align: center;
       font-size: 5em;
       margin: 0 10%;
     }
     h2{
       color: rgba(255,255,255,0.8);
       text-align: center;
       font-size: 2em;
       margin: 10;
       font-weight: 300;
       font-family: Raleway, Montserrat, sans-serif;
       font-style: italic;
     }
     ul{
       display: flex;
       list-style: none;
       justify-content: space-around;
       align-items: center;
       color: rgba(255,255,255,0.8);
       width: 80%;
       font-weight: 500;
       padding: 0;
       margin: 50px 10% 0;
       font-size: 1.8em;

       li{
         img{
           transform: translateY(5px);
           margin-right: 8px;
           width: 1.1em;
         }
       }
       .separator{
         transform: translateY(2px);
         width: .3em;
         height: .3em;
         border-radius: 50%;
         background: rgba(255,255,255,0.8);
       }

     }
   }

   .main-content{
     color: #111;
     padding: 75px 100px;
     background: white;
     font-size: 20px;
     min-height: 70%;
     border-top-left-radius: 75px;
     border-top-right-radius: 75px;
     transform: translateY(-75px);

     .ingredients h1.title,
     .preparation h1.title{
       position: relative;
       margin: 0 0 calc(25px + 15px) 0;//Add space between line and title
       font-size: 2.3em;
       text-align: center;

       &::after{
         position: absolute;
         bottom: -15px;
         left: 50%;
         transform: translateX(-50%);
         content : "";
         width: 60%;
         border-bottom: solid 2px #FF6B6B;
         border-bottom: solid 2px transparentize(#FF6B6B, 0.3);
         //border-bottom: solid 2px rgba(0,0,0,0.1);
       }

       img{
         width: 35px;
         margin: 5px 30px 0 0;
       }

     }

     .ingredients{
       margin-bottom: 50px;

       ul{
         li{
           font-size: 1.5em;
           line-height: 1.8em;
         }
       }

     }

     .preparation{

       ul{
         padding: 0;
         list-style-type: none;
         li{
           margin-bottom: 30px;
           h2{
             margin: 0 0 10px 0;
             text-transform: uppercase;
             font-size: 1.6em;
             font-weight: 700;
           }
           p{
             margin: 0;
             font-size: 1.5em;
           }
         }
       }

     }

   }
 }
