$accent-color : #FF6B6B;
$bg-color: #fafafa;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: none;
}

body {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  padding: 0;
  margin: 0;
  //header bg
  background: url("../img/bg.svg");//Bg : fafafa and max-color:fde3e3
  //background: linear-gradient(rgba(0, 0, 0, 0) 90%, rgba(0, 0, 0, 0.15) 100%), url("../img/bg.svg");//Bg : fafafa and max-color:fde3e3
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.header{
  position: absolute;
  height: 100%;
  width: 100%;


  h1{
    font-size: 10em;
    text-align: center;
    font-weight: 700;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,0);
    color: $accent-color;
  }
  img{
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,0);
  }
}
.main-container {
  background: $bg-color;
  padding: 75px;
  //display: flex;
  //flex-direction: column;
  height: 100%;
}

//Add animation to hide first screen
//Hide animation to show the recipe name on the entire screen and then scale down and make the ingredients+steps pannel move up
