$accent-color : #FF6B6B;
$bg-color: white;
$dark-color: #222;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  //Disable user select
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-tap-highlight-color: transparent;
}

body {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
  background: $bg-color;
}

.main-container {
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 80px 0 calc(30px * 2 + 50px - 20px); //30px = bottom pos of btn, 50px = height, 20px = input bottom margin
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background: url("../img/bg-top.svg"),url("../img/bg-bottom.svg");//Accent max-color:fde3e3
  background-attachment: fixed;
  background-size: contain;
  background-position: center -50%, center 150%;
  background-repeat: no-repeat;
  h1{
    font-size: 2.5em;
    margin: 0 auto 40px auto;
    text-align: center;

    animation: show 300ms ease-in-out forwards;
  }
  form{
    min-height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    flex: 1 1 auto;

    animation: show 300ms ease-in-out forwards;

    label:not(#choose-image-btn),h2{
      width: 100%;
      padding-bottom: 8px;
      margin: 0;
      font-size: 1em;
      font-weight: 600;

      &::first-letter{
        text-transform: uppercase;
      }
    }

    input[type="text"]{
      outline: none;
      box-sizing: border-box;
      font-family: "Montserrat", sans-serif;
      height: 38px;
      width: 100%;
      border: solid 1px transparentize($dark-color,0.6);
      padding: 5px 10px;
      margin-bottom: 20px;
      font-size: .9em;
      border-radius: 5px;

      &::placeholder{
        color: transparentize($dark-color,0.8);
      }
      &:focus{
        border: solid 1px $accent-color;
      }
      &.ingredient-input,
      &.step-input{
        //margin-bottom: 25px;
      }
    }
    input[type="file"]{
      position: absolute;
      left: -1000px;

      & + .img-infos{
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        //flex-direction: column;
        align-items: center;
        justify-content: flex-start;


        label#choose-image-btn{
          outline: none;
          box-sizing: border-box;
          font-family: "Montserrat", sans-serif;
          height: 38px;
          width: auto;
          padding: 5px 10px;
          border: solid 1px transparentize($dark-color,0.6);
          background: white;
          display: flex;
          flex-grow: auto;
          align-items: center;
          justify-content: flex-start;
          align-self: baseline;
          font-size: .9em;
          border-radius: 5px;
        }
        span{
          //margin-top: 10px;
          margin-left: 15px;
          font-size: .8em;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      &:hover + .img-infos label#choose-image-btn,
      &:focus + .img-infos label#choose-image-btn{
        border: solid 1px $accent-color;
      }

    }


    .btns{
      margin: 0 0 20px;
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;

      button{
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 25px 0 15px;
        width: 90px;
        height: 90px;
        border-radius: 5px;
        border: solid 1px transparentize($dark-color,0.6);
        transition: border 300ms ease;
        background: $bg-color;

        input{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          cursor: pointer;
        }
        img{
          width: 30%;
        }
        span{
          font-family: "Montserrat", sans-serif;
          font-size: 1em;
          color: transparentize($dark-color,.4);
          margin-top: 10px;
        }

        &:hover{
          border: solid 1px $accent-color;
        }
      }
    }

    button[type="submit"]{
      outline: none;
      padding: 0;
      //opacity: 0;
      box-shadow: 0 0 10px transparentize($accent-color,0.5);
      border: none;
      height: 50px;
      width: 50px;
      //margin-top: 30px;
      border-radius: 50%;
      background: $accent-color;
      cursor: pointer;

      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);

      img{
        width: 50%;
      }
    }


  }
}


@keyframes show{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
