html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  -webkit-tap-highlight-color: transparent;
}

body {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
  background: white;
}

.main-container {
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  padding: 80px 0 calc(30px * 2 + 50px - 20px);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: url("../img/bg-top.svg"), url("../img/bg-bottom.svg");
  background-attachment: fixed;
  background-size: contain;
  background-position: center -50%, center 150%;
  background-repeat: no-repeat;
}

.main-container h1 {
  font-size: 2.5em;
  margin: 0 auto 40px auto;
  text-align: center;
  animation: show 300ms ease-in-out forwards;
}

.main-container form {
  min-height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  flex: 1 1 auto;
  animation: show 300ms ease-in-out forwards;
}

.main-container form label:not(#choose-image-btn), .main-container form h2 {
  width: 100%;
  padding-bottom: 8px;
  margin: 0;
  font-size: 1em;
  font-weight: 600;
}

.main-container form label:not(#choose-image-btn)::first-letter, .main-container form h2::first-letter {
  text-transform: uppercase;
}

.main-container form input[type="text"] {
  outline: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  height: 38px;
  width: 100%;
  border: solid 1px rgba(34, 34, 34, 0.4);
  padding: 5px 10px;
  margin-bottom: 20px;
  font-size: .9em;
  border-radius: 5px;
}

.main-container form input[type="text"]::placeholder {
  color: rgba(34, 34, 34, 0.2);
}

.main-container form input[type="text"]:focus {
  border: solid 1px #FF6B6B;
}

.main-container form input[type="file"] {
  position: absolute;
  left: -1000px;
}

.main-container form input[type="file"] + .img-infos {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.main-container form input[type="file"] + .img-infos label#choose-image-btn {
  outline: none;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  height: 38px;
  width: auto;
  padding: 5px 10px;
  border: solid 1px rgba(34, 34, 34, 0.4);
  background: white;
  display: flex;
  flex-grow: auto;
  align-items: center;
  justify-content: flex-start;
  align-self: baseline;
  font-size: .9em;
  border-radius: 5px;
}

.main-container form input[type="file"] + .img-infos span {
  margin-left: 15px;
  font-size: .8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main-container form input[type="file"]:hover + .img-infos label#choose-image-btn,
.main-container form input[type="file"]:focus + .img-infos label#choose-image-btn {
  border: solid 1px #FF6B6B;
}

.main-container form .btns {
  margin: 0 0 20px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.main-container form .btns button {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 25px 0 15px;
  width: 90px;
  height: 90px;
  border-radius: 5px;
  border: solid 1px rgba(34, 34, 34, 0.4);
  transition: border 300ms ease;
  background: white;
}

.main-container form .btns button input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

.main-container form .btns button img {
  width: 30%;
}

.main-container form .btns button span {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  color: rgba(34, 34, 34, 0.6);
  margin-top: 10px;
}

.main-container form .btns button:hover {
  border: solid 1px #FF6B6B;
}

.main-container form button[type="submit"] {
  outline: none;
  padding: 0;
  box-shadow: 0 0 10px rgba(255, 107, 107, 0.5);
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: #FF6B6B;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.main-container form button[type="submit"] img {
  width: 50%;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
