$accent-color : #FF6B6B;
$bg-color: white;
$dark-color: #222;

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  //Disable user select
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  -webkit-tap-highlight-color: transparent;
}

body {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
  background: $bg-color;

  .overlay{
    pointer-events: none;
    display: none;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    background: $dark-color;

    &.show{
      display: flex;
      visibility: visible;
      animation: showOverlay 1.5s ease-in-out forwards;
    }
  }
  #logout-btn{
    pointer-events: auto;
    z-index: 100;
    position: absolute;
    top: 15px;
    right: 20px;
    width: 20px;
    padding: 10px;
    opacity: 0;
    --end-opacity: .5;
    --anim-delay : 3.2s;
    cursor: pointer;

    &.show{
      z-index: 5;
      pointer-events: auto;
      animation: 600ms var(--anim-delay) buttonPopUp forwards;
    }
    &.hide{
      z-index: 1;
      pointer-events: none;
      animation: 600ms buttonPopOut forwards;
    }

}
.header{
  pointer-events: none;
  z-index: -5;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;

  background: url("../img/bg-top.svg"),url("../img/bg-bottom.svg");//Accent max-color:fde3e3
  background-attachment: fixed;
  background-size: contain;
  background-position: center -120px, center bottom;
  background-repeat: no-repeat;

  animation: hideHomeBg 1.5s 1.5s ease forwards;

  h1{
    z-index: -3;
    font-size: 3.5em;
    text-align: center;
    font-weight: 700;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
    color: $accent-color;
    text-shadow: 0 0 5px rgba(0,0,0,0.2);

    animation: hideHomeTitle 1.5s 1.5s ease forwards;
  }
  #cooking-illustation{
    z-index: -3;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70%;
    transform: translate(-50%,0);

    animation: hideHomeImg 1.5s 1.5s ease forwards;
  }
  }
}
.main-container,
.main-container-random {
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 150px 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  //Hide element by default
  pointer-events: none;
  display: none;
  visibility: hidden;

  .btn{
    position: relative;
    pointer-events: none;
    opacity: 0;
    min-width: 20vh;
    min-height: 20vh;
    border-radius: 10px;
    box-sizing: border-box;
    background: $bg-color;
    margin: 20px 0;
    box-shadow: 0 0 20px rgba(0,0,0,.1),0 0 0 1px $accent-color; //Alternative to border

    outline: none;
    cursor: pointer;

    transition: box-shadow 150ms ease-in-out;
    &:hover,{
      box-shadow: 0 0 20px rgba(0,0,0,.1),0 0 0 2px $accent-color;//Alternative to border
    }

    img{
      width: 45%;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
    p{
      margin: 0;
      position: absolute;
      bottom: 10%;
      width: 100%;
      font-size: 2.2vh;
      text-align: center;
    }
  }
  &.show{
    z-index: 2;
    display: flex;
    visibility: visible;
    pointer-events: auto;
    .btn{
      visibility: visible;
      animation: buttonPopUp 600ms 3.2s ease-in-out forwards;
      &:first-of-type,
      &:last-of-type{
        animation: buttonPopUp 600ms 3.3s ease-in-out forwards;
      }
    }
  }
  &.hide{
    z-index: 1;
    display: flex;
    visibility: visible;
    pointer-events: none;
    .btn{
      pointer-events: none;
      animation: buttonPopOut 600ms ease-in-out forwards;
      &:first-of-type,
      &:last-of-type{
        animation: buttonPopOut 600ms 100ms ease-in-out forwards;
      }
    }
  }

}

.main-container-login{
  --anim-delay: 600ms;
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  //height: 100%;
  padding: 150px 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  pointer-events: none;
  display: none;
  visibility: hidden;

  h1{
    opacity: 0;
    font-size: 2.5em;
  }

  button#login-btn{
    outline: none;
    opacity: 0;
    box-shadow: 0 0 10px transparentize($accent-color,0.5);
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: $accent-color;
    cursor: pointer;

    img{
      width: 40%;
    }
  }
  &.show{
    z-index: 2;
    display: flex;
    visibility: visible;
    pointer-events: auto;
    h1{
      animation: buttonPopUp 600ms var(--anim-delay) forwards;
    }
    button#login-btn{
      animation: buttonPopUp 600ms calc(var(--anim-delay) + 0.1s) forwards;
    }
  }
  &.hide{
    z-index: 1;
    display: flex;
    visibility: visible;
    pointer-events: none;
    h1{
      animation: buttonPopOut 600ms 0.1s forwards;
    }
    button#login-btn{
      animation: buttonPopOut 600ms forwards;
    }
  }
}

.main-container{
  --anim-delay : 3.2s;
  z-index: 1;
  .user-info{
    display: flex;
    pointer-events: none;
    position: absolute;
    top: 10px;
    padding: 20px 0;
    margin: 0;
    width: 100%;
    height: 30px;
    font-size: 1.1em;
    color: #222;
    opacity: 0;
    font-weight: 500;
    align-items: center;
    justify-content: center;
    text-align: center;
    --end-opacity: 0.5;
  }
  .btn{
    visibility: hidden;
  }
  &.show{
    .btn{
      animation-delay: var(--anim-delay);
      &:first-of-type,
      &:last-of-type{
        animation-delay: calc(var(--anim-delay) + 0.1s);
      }
    }
    .user-info{
      animation: buttonPopUp 600ms var(--anim-delay) ease-in-out forwards;
    }
  }
  &.hide{
    .user-info{
      visibility: visible;
      animation: buttonPopOut 600ms ease-in-out forwards;
    }
  }
}

.main-container-random{
  img#random-back-btn{
    z-index: 10;
    position: absolute;
    top: 15px;
    left: 20px;
    width: 20px;
    padding: 10px;

    opacity: 0;
    --end-opacity: 0.5;
  }
  .btn{
    visibility: hidden;
  }
  &.show{
    .btn{
      animation-delay: 600ms;
      &:first-of-type,
      &:last-of-type{
        animation-delay: 700ms;
      }
    }
    img#random-back-btn{
      animation: buttonPopUp 600ms 700ms ease-in-out forwards;
    }

  }
  &.hide{
    img#random-back-btn{
      animation: buttonPopOut 600ms ease-in-out forwards;
    }
  }
}

.main-container-search{
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 150px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  pointer-events: none;
  display: none;
  visibility: hidden;

  img#search-back-btn{
    z-index: 10;
    position: absolute;
    top: 15px;
    left: 20px;
    width: 20px;
    padding: 10px;

    opacity: 0;
    --end-opacity: 0.5;
  }

  h2{
    position: relative;
    font-size: 5em;
    color: $dark-color;
    margin-bottom: 75px;

    &::after{
      content: "";
      position: absolute;
      left: 50%;
      width: 60%;
      transform: translateX(-50%);
      bottom: -20px;
      //height: 2px;
      border-bottom: solid 2px $accent-color;
    }
  }
  .input-container{
    opacity: 0;
    position: relative;
    width: 75%;
    margin-bottom: 75px;
    input{
      outline: none;
      border: 1px solid $accent-color;
      border-radius: 1000px;
      width: calc(100% - 40px);
      height: 30px;
      font-size: 1.2em;
      color: transparentize($dark-color,.2);
      padding: 10px 20px;
    }
    img{
      outline: none;
      pointer-events: none;
      position: absolute;
      opacity: .2;
      left: 20px;
      top: 50%;
      height: 20px;
      transform: translateY(-50%);
      transition: left 600ms ease;
      padding: 15px;
    }
    input:focus + img,
    input:active + img,
    input:valid + img{
      left: calc(100% - 60px);
    }

    p{
      margin: 0;
      position: absolute;
      top: calc(100% + 10px);
      width: 100%;
      text-align: center;
      font-size: .8em;
      //color: transparentize(red,0.5);
      color: $accent-color;

      opacity: 0;
      transition: opacity 300ms ease;
    }

  }

  button#search-btn{
    opacity: 0;
    box-shadow: 0 0 10px transparentize($accent-color,0.5);
    position: absolute;
    bottom: 80px;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: $accent-color;
    cursor: pointer;

    img{
      fill: white;
      width: 50%;
    }
  }

  &.show{
    z-index: 2;
    display: flex;
    visibility: visible;
    pointer-events: auto;
    .input-container{
      animation: buttonPopUp 600ms 600ms ease-in-out forwards;
    }
    button{
      animation: buttonPopUp 600ms 700ms ease-in-out forwards;
    }
    img#search-back-btn{
      animation: buttonPopUp 600ms 700ms ease-in-out forwards;
    }
  }
  &.hide{
    z-index: 1;
    display: flex;
    visibility: visible;
    pointer-events: none;
    .input-container{
      animation: buttonPopOut 600ms ease-in-out forwards;
    }
    button{
      animation: buttonPopOut 600ms ease-in-out forwards;
    }
    img#search-back-btn{
      animation: buttonPopOut 600ms ease-in-out forwards;
    }
  }

}

.main-container-list{
  color: #111;
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //padding: 150px 0;
  flex-direction: column;
  //justify-content: center;
  align-items: center;

  pointer-events: none;
  display: none;
  visibility: hidden;

  .top{
    position: static;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background: $bg-color;
    transform: translateY(calc(-100% - 4px));//+border-bottom

    .title{
      position: relative;
      img{
        z-index: 2;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 20px;
        width: 20px;
        height: 20px;
        padding: 10px;
      }
      h1{
        text-align: center;
        font-size: 1.5em;
        //color: $dark-color;
      }
    }

    .tabs{
      width: 100%;
      display: flex;
      h2{
        margin: 15px 0 0 0;
        padding: 0px 0 15px 0;
        width: 50%;
        font-size: 1.1em;
        text-align: center;
        border-bottom: 1px solid lightgrey;

        &::after{
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 50%;
          height: 0;
          border-bottom: 1px solid $accent-color;
          transition: transform 300ms ease;
        }
      }
    }

    &.active .tabs h2::after{
      transform: translateX(100%);
    }
  }
  .panels{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    width: 200vw;
    height: 150%;
    transition: transform 300ms ease;
    transform: translateX(25%);
    overflow-y: scroll;

    .my-panel,
    .favorites-panel{
      width: 50%;
      min-height: 100%;
      overflow-y: scroll;
      display: flex;
      flex-direction: column;

      ul.recipe-list{
        list-style-type: none;
        flex: 1 1 auto;
        margin: 0;
        padding: 0;
        li.recipe-item{
          opacity: 0; //For animation
          box-sizing: border-box;
          width: calc(100% - 30px);
          //height: 80px;
          background: $bg-color;
          display: flex;
          align-items: center;
          padding: 10px 20px;
          margin: 15px 15px 15px 15px;
          border-radius: 5px;
          border: 1px solid lightgrey;
          //box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 18px 35px -10px;
          cursor: pointer;
          pointer-events: none;

          img{
            height: 50px;
            width: 50px;
            flex: 1 1 1;
            object-fit: cover;
            border-radius: 5px;
          }
          .content{
            box-sizing: border-box;
            padding-left: 20px;
            height: 100%;
            gap: 6px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .titles{
              width: 100%;
              display: flex;
              align-items: center;
              h4{
                font-size: .9em;
                margin: 0;
                display: inline-block;

                span{
                  font-weight: 500;
                  font-size: .8em;
                }
              }

            }
            .desc{
              ul{
                list-style-type: none;
                display: flex;
                margin: 0;
                padding: 0;

                li{
                  pointer-events: none;
                  display: flex;
                  justify-content: center;
                  margin: 0 15px 0 0;
                  img{
                    width: 12px;
                    height: 12px;
                    margin-right: 5px;
                  }
                  span{
                    font-size: .7em;
                  }
                }
              }
            }
          }
        }

        &>p{
          opacity: 0;//For animation
          text-align: center;
          padding-top: 10px;
          color: transparentize($dark-color,.6);
        }
      }
    }
    .my-panel{

      button#add-btn{
        opacity: 0; //For animation
        z-index: 10;
        position: fixed;
        bottom: 15px;
        right: calc(100vw + 15px);
        margin: 10px;
        box-shadow: 0 0 10px transparentize($accent-color,0.5);
        border: none;
        width: 60px;
        height: 60px;
        border-radius: 100px;
        background: $accent-color;
        cursor: pointer;
        pointer-events: none;

        img{
          height: 50%;
        }
      }
    }
    &.active{
      transform: translateX(-25%);
    }
  }
  &.show{
    z-index: 2;
    display: flex;
    visibility: visible;
    pointer-events: auto;
    .top{
      animation: tabsSlideDown 300ms 600ms ease-in-out forwards;
    }
    li,p{
      pointer-events: auto;
      animation: buttonPopUp 600ms 900ms ease-in-out forwards;
    }
    button#add-btn{
      pointer-events: auto;
      animation: buttonPopUp 600ms 900ms ease-in-out forwards;
    }
  }
  &.hide{
    z-index: 1;
    display: flex;
    visibility: visible;
    pointer-events: none;
    .top{
      animation: tabsSlideUp 300ms ease-in-out forwards;
    }
    li{
      animation: buttonPopOut 600ms ease-in-out forwards;
    }
    button#add-btn{
      animation: buttonPopOut 600ms ease-in-out forwards;
    }
  }
}

//ANIMATIONS
@keyframes hideHomeBg{
  0%{
    opacity: 1;
    background-position: center -120px, center bottom;
  }
  100%{
    //opacity: 0;
    background-position: center -50%, center 150%;
  }
}
@keyframes hideHomeTitle{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    bottom: 100%;
    transform: translate(-50%,100%);
  }
}
@keyframes hideHomeImg{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    top: 100%;
  }
}
//Buttons
@keyframes buttonPopUp{
  0%{
    pointer-events: none;
    opacity: 0;
    transform: scale(0.6);
  }
  70%{
    transform: scale(1.1);
  }
  99%{
    pointer-events: none;
  }
  100%{
    pointer-events: auto;
    opacity: var(--end-opacity,1);
    transform: scale(1);
  }
}
@keyframes buttonPopOut{
  0%{
    visibility: visible;
    pointer-events: none;
    opacity: var(--end-opacity,1);
    transform: scale(1);
  }
  30%{
    transform: scale(1.1);
  }
  99%{
    visibility: visible;
  }
  100%{
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.6);
  }
}
//Hide at the end to load recipe page
@keyframes showOverlay{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes hideBgEnd{
  0%{
    opacity: 1;
    background-position: center -50%, center 150%;
  }
  100%{
    opacity: 0;
    background-position: center -150%, center 250%;
  }
}
//Show recipe list tabs
@keyframes tabsSlideDown{
  0%{
    transform: translateY(calc(-100% - 4px));
  }
  100%{
    transform: translateY(0);
  }
}
@keyframes tabsSlideUp{
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(calc(-100% - 4px));
  }
}
//Back buttons
@keyframes backBtnDown{
  0%{
    opacity: 0;
    transform: translateY(-100%);
  }
  100%{
    opacity: 0.5;
    transform: translateY(0);
  }
}
@keyframes backBtnUp{
  0%{
    opacity: 0.5;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(-100%);
  }
}
