html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  user-select: none;
  /* supported by Chrome and Opera */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  -webkit-tap-highlight-color: transparent;
}

body {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  padding: 0;
  margin: 0;
  position: relative;
  background: white;
}

body .overlay {
  pointer-events: none;
  display: none;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: #222;
}

body .overlay.show {
  display: flex;
  visibility: visible;
  animation: showOverlay 1.5s ease-in-out forwards;
}

body #logout-btn {
  pointer-events: auto;
  z-index: 100;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 50px;
  padding: 30px;
  opacity: 0;
  --end-opacity: .5;
  --anim-delay: 3.2s;
  cursor: pointer;
}

body #logout-btn.show {
  z-index: 5;
  pointer-events: auto;
  animation: 600ms var(--anim-delay) buttonPopUp forwards;
}

body #logout-btn.hide {
  z-index: 1;
  pointer-events: none;
  animation: 600ms buttonPopOut forwards;
}

body .header {
  pointer-events: none;
  z-index: -5;
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  background: url("../img/bg-top.svg"), url("../img/bg-bottom.svg");
  background-attachment: fixed;
  background-size: contain;
  background-position: center -200px, center bottom;
  background-repeat: no-repeat;
  animation: hideHomeBg 1.5s 1.5s ease forwards;
}

body .header h1 {
  z-index: -3;
  font-size: 10em;
  text-align: center;
  font-weight: 700;
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  color: #FF6B6B;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  animation: hideHomeTitle 1.5s 1.5s ease forwards;
}

body .header #cooking-illustation {
  z-index: -3;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, 0);
  animation: hideHomeImg 1.5s 1.5s ease forwards;
}

.main-container,
.main-container-random {
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 150px 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  pointer-events: none;
  display: none;
  visibility: hidden;
}

.main-container .btn,
.main-container-random .btn {
  position: relative;
  pointer-events: none;
  opacity: 0;
  min-width: 20vh;
  min-height: 20vh;
  border-radius: 25px;
  box-sizing: border-box;
  background: white;
  margin: 50px 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 2px #FF6B6B;
  outline: none;
  cursor: pointer;
  transition: box-shadow 150ms ease-in-out;
}

.main-container .btn:hover,
.main-container-random .btn:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 5px #FF6B6B;
}

.main-container .btn img,
.main-container-random .btn img {
  width: 45%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container .btn p,
.main-container-random .btn p {
  margin: 0;
  position: absolute;
  bottom: 10%;
  width: 100%;
  font-size: 2vh;
  text-align: center;
}

.main-container.show,
.main-container-random.show {
  z-index: 2;
  display: flex;
  visibility: visible;
  pointer-events: auto;
}

.main-container.show .btn,
.main-container-random.show .btn {
  visibility: visible;
  animation: buttonPopUp 600ms 3.2s ease-in-out forwards;
}

.main-container.show .btn:first-of-type, .main-container.show .btn:last-of-type,
.main-container-random.show .btn:first-of-type,
.main-container-random.show .btn:last-of-type {
  animation: buttonPopUp 600ms 3.3s ease-in-out forwards;
}

.main-container.hide,
.main-container-random.hide {
  z-index: 1;
  display: flex;
  visibility: visible;
  pointer-events: none;
}

.main-container.hide .btn,
.main-container-random.hide .btn {
  pointer-events: none;
  animation: buttonPopOut 600ms ease-in-out forwards;
}

.main-container.hide .btn:first-of-type, .main-container.hide .btn:last-of-type,
.main-container-random.hide .btn:first-of-type,
.main-container-random.hide .btn:last-of-type {
  animation: buttonPopOut 600ms 100ms ease-in-out forwards;
}

.main-container-login {
  --anim-delay: 600ms;
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  padding: 150px 0;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  pointer-events: none;
  display: none;
  visibility: hidden;
}

.main-container-login h1 {
  opacity: 0;
  font-size: 5em;
}

.main-container-login button#login-btn {
  outline: none;
  opacity: 0;
  box-shadow: 0 0 25px rgba(255, 107, 107, 0.5);
  border: none;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FF6B6B;
  cursor: pointer;
}

.main-container-login button#login-btn img {
  width: 40%;
}

.main-container-login.show {
  z-index: 2;
  display: flex;
  visibility: visible;
  pointer-events: auto;
}

.main-container-login.show h1 {
  animation: buttonPopUp 600ms var(--anim-delay) forwards;
}

.main-container-login.show button#login-btn {
  animation: buttonPopUp 600ms calc(var(--anim-delay) + 0.1s) forwards;
}

.main-container-login.hide {
  z-index: 1;
  display: flex;
  visibility: visible;
  pointer-events: none;
}

.main-container-login.hide h1 {
  animation: buttonPopOut 600ms 0.1s forwards;
}

.main-container-login.hide button#login-btn {
  animation: buttonPopOut 600ms forwards;
}

.main-container {
  --anim-delay: 3.2s;
  z-index: 1;
}

.main-container .user-info {
  display: flex;
  pointer-events: none;
  position: absolute;
  top: 35px;
  padding: 30px 0;
  margin: 0;
  width: 100%;
  height: 50px;
  font-size: 2.2em;
  color: #222;
  opacity: 0;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  text-align: center;
  --end-opacity: 0.5;
}

.main-container .btn {
  visibility: hidden;
}

.main-container.show .btn {
  animation-delay: var(--anim-delay);
}

.main-container.show .btn:first-of-type, .main-container.show .btn:last-of-type {
  animation-delay: calc(var(--anim-delay) + 0.1s);
}

.main-container.show .user-info {
  animation: buttonPopUp 600ms var(--anim-delay) ease-in-out forwards;
}

.main-container.hide .user-info {
  visibility: visible;
  animation: buttonPopOut 600ms ease-in-out forwards;
}

.main-container-random img#random-back-btn {
  z-index: 10;
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  padding: 30px;
  opacity: 0;
  --end-opacity: 0.5;
}

.main-container-random .btn {
  visibility: hidden;
}

.main-container-random.show .btn {
  animation-delay: 600ms;
}

.main-container-random.show .btn:first-of-type, .main-container-random.show .btn:last-of-type {
  animation-delay: 700ms;
}

.main-container-random.show img#random-back-btn {
  animation: buttonPopUp 600ms 700ms ease-in-out forwards;
}

.main-container-random.hide img#random-back-btn {
  animation: buttonPopOut 600ms ease-in-out forwards;
}

.main-container-search {
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 150px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  display: none;
  visibility: hidden;
}

.main-container-search img#search-back-btn {
  z-index: 10;
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  padding: 30px;
  opacity: 0;
  --end-opacity: 0.5;
}

.main-container-search h2 {
  position: relative;
  font-size: 5em;
  color: #222;
  margin-bottom: 75px;
}

.main-container-search h2::after {
  content: "";
  position: absolute;
  left: 50%;
  width: 60%;
  transform: translateX(-50%);
  bottom: -20px;
  border-bottom: solid 2px #FF6B6B;
}

.main-container-search .input-container {
  opacity: 0;
  position: relative;
  width: 75%;
  margin-bottom: 75px;
}

.main-container-search .input-container input {
  outline: none;
  border: 1px solid #FF6B6B;
  border-radius: 1000px;
  width: calc(100% - 100px);
  height: 100px;
  font-size: 2.8em;
  color: rgba(34, 34, 34, 0.8);
  padding: 10px 50px;
}

.main-container-search .input-container img {
  outline: none;
  pointer-events: none;
  position: absolute;
  opacity: .2;
  left: 50px;
  top: 50%;
  height: 50px;
  transform: translateY(-50%);
  transition: left 600ms ease;
  padding: 15px;
}

.main-container-search .input-container input:focus + img,
.main-container-search .input-container input:active + img,
.main-container-search .input-container input:valid + img {
  left: calc(100% - 100px);
}

.main-container-search .input-container p {
  margin: 0;
  position: absolute;
  top: calc(100% + 20px);
  width: 100%;
  text-align: center;
  font-size: 1.8em;
  color: #FF6B6B;
  opacity: 0;
  transition: opacity 300ms ease;
}

.main-container-search button#search-btn {
  opacity: 0;
  box-shadow: 0 0 25px rgba(255, 107, 107, 0.5);
  position: absolute;
  bottom: 200px;
  border: none;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #FF6B6B;
  cursor: pointer;
}

.main-container-search button#search-btn img {
  fill: white;
  width: 50%;
}

.main-container-search.show {
  z-index: 2;
  display: flex;
  visibility: visible;
  pointer-events: auto;
}

.main-container-search.show .input-container {
  animation: buttonPopUp 600ms 600ms ease-in-out forwards;
}

.main-container-search.show button {
  animation: buttonPopUp 600ms 700ms ease-in-out forwards;
}

.main-container-search.show img#search-back-btn {
  animation: buttonPopUp 600ms 700ms ease-in-out forwards;
}

.main-container-search.hide {
  z-index: 1;
  display: flex;
  visibility: visible;
  pointer-events: none;
}

.main-container-search.hide .input-container {
  animation: buttonPopOut 600ms ease-in-out forwards;
}

.main-container-search.hide button {
  animation: buttonPopOut 600ms ease-in-out forwards;
}

.main-container-search.hide img#search-back-btn {
  animation: buttonPopOut 600ms ease-in-out forwards;
}

.main-container-list {
  color: #111;
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  pointer-events: none;
  display: none;
  visibility: hidden;
}

.main-container-list .top {
  position: static;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  background: white;
  transform: translateY(calc(-100% - 4px));
}

.main-container-list .top .title {
  position: relative;
}

.main-container-list .top .title img {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  width: 50px;
  height: 50px;
  padding: 30px;
}

.main-container-list .top .title h1 {
  text-align: center;
  font-size: 3em;
}

.main-container-list .top .tabs {
  width: 100%;
  display: flex;
}

.main-container-list .top .tabs h2 {
  margin: 30px 0 0 0;
  padding: 0px 0 30px 0;
  width: 50%;
  font-size: 2.5em;
  text-align: center;
  border-bottom: 4px solid lightgrey;
}

.main-container-list .top .tabs h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 0;
  border-bottom: 4px solid #FF6B6B;
  transition: transform 300ms ease;
}

.main-container-list .top.active .tabs h2::after {
  transform: translateX(100%);
}

.main-container-list .panels {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  width: 200vw;
  height: 150%;
  transition: transform 300ms ease;
  transform: translateX(25%);
  overflow-y: scroll;
}

.main-container-list .panels .my-panel,
.main-container-list .panels .favorites-panel {
  width: 50%;
  min-height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.main-container-list .panels .my-panel ul.recipe-list,
.main-container-list .panels .favorites-panel ul.recipe-list {
  list-style-type: none;
  flex: 1 1 auto;
  margin: 0;
  padding: 0;
}

.main-container-list .panels .my-panel ul.recipe-list li.recipe-item,
.main-container-list .panels .favorites-panel ul.recipe-list li.recipe-item {
  opacity: 0;
  box-sizing: border-box;
  width: calc(100% - 60px);
  height: 180px;
  background: white;
  display: flex;
  align-items: center;
  padding: 35px 35px;
  margin: 30px 30px 30px 30px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 18px 35px -10px;
  cursor: pointer;
  pointer-events: none;
}

.main-container-list .panels .my-panel ul.recipe-list li.recipe-item img,
.main-container-list .panels .favorites-panel ul.recipe-list li.recipe-item img {
  height: 100px;
  width: 100px;
  flex: 1 1 1;
  object-fit: cover;
  border-radius: 10px;
}

.main-container-list .panels .my-panel ul.recipe-list li.recipe-item .content,
.main-container-list .panels .favorites-panel ul.recipe-list li.recipe-item .content {
  box-sizing: border-box;
  padding: 0 35px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-container-list .panels .my-panel ul.recipe-list li.recipe-item .content .titles,
.main-container-list .panels .favorites-panel ul.recipe-list li.recipe-item .content .titles {
  width: 100%;
  display: flex;
  align-items: center;
}

.main-container-list .panels .my-panel ul.recipe-list li.recipe-item .content .titles h4,
.main-container-list .panels .favorites-panel ul.recipe-list li.recipe-item .content .titles h4 {
  font-size: 2.4em;
  display: inline-block;
  margin: 0 15px 0 0;
}

.main-container-list .panels .my-panel ul.recipe-list li.recipe-item .content .titles span,
.main-container-list .panels .favorites-panel ul.recipe-list li.recipe-item .content .titles span {
  font-size: 1.9em;
}

.main-container-list .panels .my-panel ul.recipe-list li.recipe-item .content .desc ul,
.main-container-list .panels .favorites-panel ul.recipe-list li.recipe-item .content .desc ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.main-container-list .panels .my-panel ul.recipe-list li.recipe-item .content .desc ul li,
.main-container-list .panels .favorites-panel ul.recipe-list li.recipe-item .content .desc ul li {
  pointer-events: none;
  display: flex;
  justify-content: center;
  margin: 0 25px 0 0;
}

.main-container-list .panels .my-panel ul.recipe-list li.recipe-item .content .desc ul li img,
.main-container-list .panels .favorites-panel ul.recipe-list li.recipe-item .content .desc ul li img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.main-container-list .panels .my-panel ul.recipe-list li.recipe-item .content .desc ul li span,
.main-container-list .panels .favorites-panel ul.recipe-list li.recipe-item .content .desc ul li span {
  transform: translateY(-2px);
  font-size: 1.7em;
}

.main-container-list .panels .my-panel button#add-btn {
  margin: 30px auto 50px auto;
  box-shadow: 0 0 25px rgba(255, 107, 107, 0.5);
  border: none;
  min-width: 120px;
  min-height: 120px;
  border-radius: 100px;
  background: #FF6B6B;
  cursor: pointer;
}

.main-container-list .panels .my-panel button#add-btn img {
  height: 50%;
}

.main-container-list .panels.active {
  transform: translateX(-25%);
}

.main-container-list.show {
  z-index: 2;
  display: flex;
  visibility: visible;
  pointer-events: auto;
}

.main-container-list.show .top {
  animation: tabsSlideDown 300ms 600ms ease-in-out forwards;
}

.main-container-list.show li {
  pointer-events: auto;
  animation: buttonPopUp 600ms 900ms ease-in-out forwards;
}

.main-container-list.hide {
  z-index: 1;
  display: flex;
  visibility: visible;
  pointer-events: none;
}

.main-container-list.hide .top {
  animation: tabsSlideUp 300ms ease-in-out forwards;
}

.main-container-list.hide li {
  animation: buttonPopOut 600ms ease-in-out forwards;
}

@keyframes hideHomeBg {
  0% {
    opacity: 1;
    background-position: center -200px, center bottom;
  }
  100% {
    background-position: center -50%, center 150%;
  }
}

@keyframes hideHomeTitle {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    bottom: 100%;
    transform: translate(-50%, 100%);
  }
}

@keyframes hideHomeImg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: 100%;
  }
}

@keyframes buttonPopUp {
  0% {
    pointer-events: none;
    opacity: 0;
    transform: scale(0.6);
  }
  70% {
    transform: scale(1.1);
  }
  99% {
    pointer-events: none;
  }
  100% {
    pointer-events: auto;
    opacity: var(--end-opacity, 1);
    transform: scale(1);
  }
}

@keyframes buttonPopOut {
  0% {
    visibility: visible;
    pointer-events: none;
    opacity: var(--end-opacity, 1);
    transform: scale(1);
  }
  30% {
    transform: scale(1.1);
  }
  99% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transform: scale(0.6);
  }
}

@keyframes showOverlay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hideBgEnd {
  0% {
    opacity: 1;
    background-position: center -50%, center 150%;
  }
  100% {
    opacity: 0;
    background-position: center -150%, center 250%;
  }
}

@keyframes tabsSlideDown {
  0% {
    transform: translateY(calc(-100% - 4px));
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes tabsSlideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc(-100% - 4px));
  }
}

@keyframes backBtnDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0.5;
    transform: translateY(0);
  }
}

@keyframes backBtnUp {
  0% {
    opacity: 0.5;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
